.navbar {
  background-color: #331F01; /* Your desired color */
  min-height: 100px;
}
.brownbg
{
  background-color: #331F01;  
}

.fonting {
    font-size: 30px;
}

.withlove {
    padding-top: 50px;
}

@media only screen and (max-width: 850px) {
  .fonting {
    font-size: 20px; /* Smaller font size for smaller screens */
  }

  .withlove {
    padding-top: 20px;
}
}

@media only screen and (max-width: 600px) {
  .fonting {
    font-size: 16px; /* Smaller font size for smaller screens */
  }
  h1 {
    font-size: 20px;
  }
  .withlove {
    padding-top: 5px;
}
}