<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132433240-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132433240-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="BizSwipe - Networking Made Easy With the World's First B2B Swiping App">
    <meta name="author" content="BizSwipe">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="BizSwipe" /> <!-- website name -->
	<meta property="og:site" content="bizswipe.com" /> <!-- website link -->
	<meta property="og:title" content="BizSwipe - Networking Made Easy With the World's First B2B Swiping App"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="BizSwipe is an easy-to-use swiping app that eliminates spam and outreach rejection" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>BizSwipe - Networking Made Easy with the World's First B2B Swiping App</title>

    <!-- Styles -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="{{ base.url | prepend: site.url }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ base.url | prepend: site.url }}/css/fontawesome-all.css" rel="stylesheet">
    <link href="{{ base.url | prepend: site.url }}/css/swiper.css" rel="stylesheet">
	<link href="{{ base.url | prepend: site.url }}/css/magnific-popup.css" rel="stylesheet">
	<link href="{{ base.url | prepend: site.url }}/css/styles.css" rel="stylesheet">


	<!-- Favicon  -->
    <link rel="icon" href="{{ base.url | prepend: site.url }}/images/favicon.png">
</head>
