---
layout: default
---
<!-- Header BODY -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container smallerheader">
                        <h1>MATCHMAKING <br>FOR <span id="js-rotating">MARKETERS, BUSINESSES, SEO</span></h1>
                        <p class="p-large">BizSwipe is the world's first B2B networking app that eliminates spam and outreach rejection. Download FREE today!</p>
                        <a class="btn-solid-lg page-scroll" href="https://itunes.apple.com/us/app/bizswipe/id1447596918?mt=8&ign-mpt=uo%3D2"><i class="fab fa-apple"></i> APP STORE</a>
                        <a class="btn-solid-lg page-scroll" href="https://play.google.com/store/apps/details?id=com.bizswipe"><i class="fab fa-google-play"></i>PLAY STORE</a>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/header-iphone.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<div id="details" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="images/details-1-iphone.png" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h3>What is BizSwipe?</h3>
                    <p class="p-large">BizSwipe is the World's First B2B Matchmaking App! Networking with digital marketers, journalists, social media infuencers, or any type of business has never been easier. No more cold calling! No more cold outreach! No more spam and rejection! Just filter, swipe, match, and collaborate! BizSwipe is the perfect solution to find that next blog post to collaborate on, that journalist to feature you in an article, that social influencer to post about your product, or anything else you can come up with.</p>

                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->

<!-- Details 2 -->
<div class="basic-3">
    <div class="second">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container p-large">
                        <h3>Advanced Filters</h3>

                        <p> <b>With our advanced filters you can filter by : </b> </p>

                          <ul class="li-space-lg">
                            <li> Business Category </li>
                            <li> Organic Website Traffic </li>
                            <li> Paid Website Traffic </li>
                            <li> Youtube Subscribers </li>
                            <li> Instagram Followers </li>
                            <li> Facebook Likes </li>
                            <li> Twitter Followers </li>
                          </ul>


                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <img class="img-fluid" src="images/details-2-iphone.png" alt="alternative">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of second -->
</div> <!-- end of basic-3 -->
<!-- end of details 2 -->



<!-- Features -->
<div id="features" class="tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>FEATURES</h2>
                <div class="p-heading p-large">BizSwipe was desgiend to eliminate outreach rejection and spam by using a matchmaking algorithm where you can only talk to people who see the value in what you have to offer</div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">

            <!-- Tabs Links -->
            <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-cog"></i>DIGITAL MARKETERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-binoculars"></i>BUSINESSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-search"></i>INFLUENCERS</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" id="nav-tab-4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false"><i class="fas fa-search"></i>JOURNALISTS</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" id="nav-tab-5" data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5" aria-selected="false"><i class="fas fa-search"></i>NETWORKING</a>
               </li>

            </ul>
            <!-- end of tabs links -->


            <!-- Tabs Content-->
            <div class="tab-content" id="lenoTabsContent">

                <!-- Tab -->
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                    <div class="container">
                        <div class="row">

                            <!-- Icon Cards Pane -->
                            <div class="col-lg-4">
                                <div class="card left-pane first">
                                    <div class="card-body">
                                        <div class="text-wrapper">
                                            <h4 class="card-title">More Exposure</h4>
                                            <p>Filter your search results to find journalists, then work with them to get your clients backlinks and shoutouts in media publications</p>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card left-pane">
                                    <div class="card-body">
                                        <div class="text-wrapper">
                                            <h4 class="card-title">Find Influencers</h4>
                                            <p>Connect your clients to influencers you meet via BizSwipe in order to help them reach a larger audience</p>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card left-pane">
                                    <div class="card-body">
                                        <div class="text-wrapper">
                                            <h4 class="card-title">Collaborate On Content</h4>
                                            <p>Find like-minded writers, videographers, or other professionals and collaborate on amazing content for your clients</p>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of icon cards pane -->

                            <!-- Image Pane -->
                            <div class="col-lg-4">
                                <img class="img-fluid" src="images/features-iphone-1.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->

                            <!-- Icon Cards Pane -->
                            <div class="col-lg-4">
                                <div class="card right-pane first">
                                    <div class="card-body">
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="text-wrapper">
                                            <h4 class="card-title">Get More Business</h4>
                                            <p>Find clients who are looking for the top-notch digital marketing services you provide</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card right-pane">
                                    <div class="card-body">
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="text-wrapper">
                                            <h4 class="card-title">Connect Locally</h4>
                                            <p>Network with local businesses in your community and collaborate on mutually beneficial content</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card right-pane">
                                    <div class="card-body">
                                        <div class="card-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <div class="text-wrapper">
                                            <h4 class="card-title">Earn More $$$</h4>
                                            <p>Stop spending your time with cold outreach. Start spending your time doing creating more oppertunities for you and your clients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of icon cards pane -->

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                    <div class="container">
                        <div class="row">

                            <!-- Image Pane -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/features-iphone-2.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->

                            <!-- Text And Icon Cards Area -->
                            <div class="col-md-8">
                                <div class="text-area">
                                    <h3>BizSwipe can help every step of the way</h3>
                                    <p>Wether you have a startup or a large corporation - BizSwipe can save you time and money by helping you find what you are looking for quickly and efficiently.</p>
                                </div> <!-- end of text-area -->

                                <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">COLLABORATE ON CONTENT</h4>
                                                <p>Filter your search results to connect with journalists. Collaborate with them to create content and earn backlinks or citations to improve your local rankings</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">NETWORK WITH INFLUENCERS</h4>
                                                <p>Get your name out there. Find like-minded influencers in your niche and collaborate on a series of social media posts</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">FIND MORE CUSTOMERS</h4>
                                                <p>Whether your business is B2B or B2C, get excited — BizSwipe is full of potential clients looking to connect</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">GET THE JOB DONE</h4>
                                                <p>Need some outside help with a big project? Connect with freelancers, influencers, and other professionals instantly</p>
                                            </div>
                                        </div>
                                </div> <!-- end of icon cards area -->
                            </div> <!-- end of col-md-8 -->
                            <!-- end of text and icon cards area -->

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                    <div class="container">
                        <div class="row">

                            <!-- Text And Icon Cards Area -->
                            <div class="col-md-8">
                                <div class="icon-cards-area">
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-calendar-check"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">FIND BRANDS YOUR AUDIENCE WILL LOVE</h4>
                                            <p>Filter your BizSwipe search results to find brands your audience will be excited to engage with. It’s a win-win — for you, brands, and your followers</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-file-code"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">COLLABORATE ON CONTENT</h4>
                                            <p>You can achieve so much more together than you can alone. Connect with fellow social media professionals and create something amazing</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="fas fa-cube"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">MEET OTHER INFLUENCERS</h4>
                                            <p>Build relationships with fellow influencers. Share tips, get to know each other, and do some cross-promotion!</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">EXPAND YOUR REACH</h4>
                                            <p>Build your core audience and get your message out to even more people</p>
                                        </div>
                                    </div>
                                </div> <!-- end of icon cards area -->

                                <div class="text-area">
                                    <h3>You built the audience. We can help you monetize it</h3>
                                    <p>Let BizSwipe get rid of all the outreach rejection and spam by matchmaking you with businesses that value the influence you provide. Match with other like-minded influencers and collaborate with endless possibilities.</p>
                                </div> <!-- end of text-area -->
                            </div> <!-- end of col-md-8 -->
                            <!-- end of text and icon cards area -->

                            <!-- Image Pane -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/features-iphone-3.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div><!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
                    <div class="container">
                        <div class="row">

                            <!-- Image Pane -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/features-iphone-4.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->

                            <!-- Text And Icon Cards Area -->
                            <div class="col-md-8">
                                <div class="text-area">
                                    <h3>Swipe Right on Your Next Story</h3>
                                    <p>Let BizSwipe match you with your next big piece. Wether you're a small blogger or a national publication - BizSwipwe can help.</p>
                                </div> <!-- end of text-area -->

                                <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">GET CONNECTED</h4>
                                                <p>Connect with the businesses you need to get in touch with for a story, whether they’re located nearby or halfway around the world</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">CONDUCT RESEARCH</h4>
                                                <p>Filter your results to find experts in a specific industry with just a tap</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">FIND STORIES</h4>
                                                <p>You’re looking to report on interesting, newsworthy people, events, and topics. Find your next big story with BizSwipe</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">COLLABORATE ON CONTENT</h4>
                                                <p>Find influencers or fellow journalists and create something amazing together</p>
                                            </div>
                                        </div>
                                </div> <!-- end of icon cards area -->
                            </div> <!-- end of col-md-8 -->
                            <!-- end of text and icon cards area -->

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div class="tab-pane fade" id="tab-5" role="tabpanel" aria-labelledby="tab-5">
                    <div class="container">
                        <div class="row">

                            <!-- Text And Icon Cards Area -->
                            <div class="col-md-8">
                                <div class="icon-cards-area">
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-calendar-check"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">STAY LOCAL</h4>
                                            <p>Get in touch with fellow business owners or professionals in your community</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-file-code"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">GO GLOBAL</h4>
                                            <p>Expand your network and connect with businesses all over the world</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="fas fa-cube"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">GAIN NEW CLIENTS</h4>
                                            <p>If you work as a consultant, use BizSwipe to find potential new clients and promote your services</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-icon">
                                            <i class="far fa-bookmark"></i>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">GET INSPIRED</h4>
                                            <p>See the amazing things other professionals in your field have created or accomplished — and get inspired to raise the bar for your own business</p>
                                        </div>
                                    </div>
                                </div> <!-- end of icon cards area -->

                                <div class="text-area">
                                    <h3>Talk to people who see the value in what you have to offer</h3>
                                    <p>With BizSwipe - you can only talk to those who want to talk to you with matchmaking swiping algorithm. That means there will be no outreach rejection or spam. What you choose to do with that introduction is up to you.</p>
                                </div> <!-- end of text-area -->
                            </div> <!-- end of col-md-8 -->
                            <!-- end of text and icon cards area -->

                            <!-- Image Pane -->
                            <div class="col-md-4">
                                <img class="img-fluid" src="images/features-iphone-5.png" alt="alternative">
                            </div>
                            <!-- end of image pane -->

                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div><!-- end of tab-pane -->
                <!-- end of tab -->


            </div> <!-- end of tab-content -->
            <!-- end of tabs content -->

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->


<!-- Video -->
<div id="preview" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>HOW IT WORKS</h2>
                <div class="p-heading p-large">Find the exact businesses and influencers you want to connect with using BizSwipe's advanced filters</div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Video Preview -->
                <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=BWa04MQOMeg" data-effect="fadeIn">
                            <img class="img-fluid" src="images/video-frame.jpg" alt="alternative">
                            <span class="video-play-button">
                                <span></span>
                            </span>
                        </a>
                    </div> <!-- end of video-wrapper -->
                </div> <!-- end of image-container -->
                <!-- end of video preview -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of video -->


<!-- Contact -->
<div id="contact" class="form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CONTACT</h2>
                <ul class="list-unstyled li-space-lg">
                    <li class="address">Don't hesitate to reach out</li>
                    <li><i class="fas fa-envelope"></i><a class="blue" href="mailto:support@bizswipe.com">support@bizswipe.com</a></li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

    </div> <!-- end of container -->
</div> <!-- end of form -->
<!-- end of contact -->
